HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# visual studio code
.vscode/
.idea/
.mvn/
.setting/

# python
venv/
virtualenv/
__pycache__

# misc
.DS_Store

# notebook checkpoints
.ipynb_checkpoints

# path
*.csv
*.xml
dataset/
awesome_bot/plugins/helpme/脏话样本.txt
.env.dev.bp
api.txt
test/
v2raycs

